@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    color:   hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 1440px;
    font-size: 16px; 
    background-color: hsl(0, 0%, 98%);
}

h2{
    color: hsl(234, 12%, 34%);
}

img{
    display: flex;
    align-self: flex-end;
}

/*main*/
.main{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/*about*/
.about{
    display: flex;
    flex-direction: column ;
    align-items: center; 
}

.rely{
    font-size: 30px;
    font-weight: 200;
    padding: 0;
    margin-bottom: 0;
}

.power{
    font-size: 30px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-top: 0;
}

.desc{
    width: 500px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

/*Cards Section*/
.cards{
    display: flex;
    flex-flow: row ;
}

/*supervisor*/
.supervisor{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid hsl(180, 62%, 55%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    align-self: center;
    max-width: 350px;
}

/*center cards*/
.center-cards{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

/*team-builder*/
.team{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid hsl(0, 78%, 62%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;  
    align-self: center;
    margin-bottom: 20px;
}

/*karma*/
.karma{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid hsl(34, 97%, 64%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    border-radius: 5px;
    max-width: 350px;
    padding: 20px;
    align-self: center;
}

/* calculator*/
.calculator{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid hsl(212, 86%, 64%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    border-radius: 5px;
    max-width: 350px;
    padding: 20px;    
    align-self: center;
    margin: 10px;
}

/*footer*/
 footer {
    margin: auto;
    text-align: center;    
 }

 footer p > a{
     text-decoration: none;
     color: orange;
 }

/* To be added later*/
@media screen and (max-width:750px){
    .about{
        align-items: flex-start;
        margin: 0;
    }
    .about > h1{
        font-size: 20px;
    }
    .about > h2{
        font-size: 20px;
        margin: 0;
    }
    .desc{
        width: auto;
        text-align: justify;
        margin-left: 0;
        font-size: 14px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
    }
    .center-cards{
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }
}
