@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    color:   hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
}


body{
    max-width: 1440px;
    font-size: 16px; 
    background-color: hsl(0, 0%, 98%);
    margin: auto;
}

h2{
    color: #000000;
}


/*main*/
.main{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/*about*/
.about{
    margin: 0 auto;
}

.rely{
    font-size: 30px;
    font-weight: 200;
    text-align: center;;
}

.power{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.desc{
    text-align: center;
    padding: 20px;
}
/*Cards Section*/
.cards{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

/*team-builder*/
.team{
    background-color: #ffffff;
    border-top: 5px solid hsl(0, 78%, 62%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    width: 350px;
    border-radius: 5px;
    padding: 20px;  
    position: relative;
    margin-bottom: 30px;
    align-self: center;
}

.team > img{
    position: relative;
    left: 250px;
}

/*Middle cards*/

.middle-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/*supervisor*/
.supervisor{
    background-color: #ffffff;
    border-top: 5px solid hsl(180, 62%, 55%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.supervisor > img {
    position: relative;
    left: 250px;
}

/* calculator*/
.calculator{
    background-color: #ffffff;
    border-top: 5px solid hsl(212, 86%, 64%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    border-radius: 5px;
    width: 350px;
    padding: 20px;    
    margin-bottom: 30px;
}

.calculator> img{
    position: relative;
    left: 250px;
}

/*karma*/
.karma{
    background-color: #ffffff;
    border-top: 5px solid hsl(34, 97%, 64%);
    box-shadow: 5px 5px 8px  hsl(229, 6%, 66%);
    border-radius: 5px;
    width: 350px;
    padding: 20px;
    align-self: center;
}

.karma > img{
    position: relative;
    left: 250px;
}

/*footer*/
 footer {
    margin: 30px auto;
    text-align: center;    
 }

 footer p > a{
     text-decoration: none;
     color: orange;
 }

/* To be added later*/
@media screen and (max-width:750px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .middle-cards{
        display: flex;
        flex-direction: column;
    }
}

